#footer {
    width: 100%;
    // Contact
    .contact {
        width: 100%;
        height: 230px;
        background: url(../images/bg/contact.jpg) no-repeat center top / cover;
        @include respond-to($break-1200) {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 0;
        }
        @include respond-to($break-780) {
            height: auto;
        }
        @include respond-to($break-640) {
            padding: 0 20px;
        }
        @include respond-to($break-480) {
            background: url(../images/bg/contact2.jpg) no-repeat center top / cover;
        }
        .center-content {
            height: 100%;
            .hotline {
                width: 50%;
                height: 100%;
                float: left;
                padding-left: 50px;
                @include respond-to($break-1200) {
                    padding-left: 30px;
                }
                @include respond-to($break-1065) {
                    padding-left: 40px;
                    margin-left: -40px;
                    background: #ededed;
                    padding-bottom: 40px;
                }
                @include ipad-portrait {
                    margin-left: 0;
                    padding-left: 0;
                }
                @include respond-to($break-1024) {
                    padding-right: 11px;
                }
                @include respond-to(768px) {
                    padding-left: 0;
                    margin-left: 0;
                }
                @include respond-to($break-480) {
                    float: none;
                    width: 100%;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-left: -20px;
                    margin-right: -20px;
                    background: #ededed;
                    box-sizing: content-box;
                }
                h2 {
                    @extend %gotham-book;
                    font-size: 30px;
                    line-height: 54px;
                    font-weight: normal;
                    margin: 0;
                    padding-top: 12px;
                    &.hdvn {
                        @extend %gotham-ultra;
                        font-size: calcEm(24, 14);
                        @include respond-to($break-780) {
                            // margin-top: 16px;
                        }
                        @include respond-to($break-480) {
                            margin: 0;
                            padding: 0;
                            line-height: 1.2em;
                        }
                    }
                    @include respond-to($break-980) {
                        font-size: 22px;
                    }
                    @include respond-to($break-780) {
                        padding-top: 15px;
                    }
                }
                .desc {
                    @extend %roboto-regular;
                    font-size: 15px;
                    color: $black-2;
                    padding-bottom: 17px;
                    @include respond-to($break-980) {
                        font-size: 14px;
                    }
                    @include respond-to($break-780) {
                        margin-top: -5px;
                    }
                    @include respond-to($break-640) {
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
                }
                .number {
                    @extend %roboto-regular;
                    font-size: 13px;
                    color: $black-2;
                    &.hdvn {
                        color: #333;
                    }
                    @include respond-to($break-780) {
                        font-size: 13px;
                    }
                    span {
                        @extend %roboto-bold;
                        font-size: 30px;
                        color: $main-red;
                        @include respond-to($break-980) {
                            font-size: 24px;
                        }
                        @include respond-to($break-480) {
                            display: block;
                        }
                    }
                }
                .line {
                    width: 430px;
                    height: 1px;
                    border-bottom: 1px solid #bebebe;
                    margin: 11px 0px 4px 0px;
                    @include respond-to($break-980) {
                        width: 327px;
                    }
                    @include respond-to($break-780) {
                        width: 100%;
                    }
                }
            }
            .rss {
                width: 50%;
                height: 100%;
                float: left;
                padding-left: 70px;
                @include respond-to($break-1065) {
                    margin-left: 35px;
                    padding-left: 73px;
                }
                @include respond-to($break-780) {
                    padding-left: 40px;
                    margin-left: 0;
                }
                @include respond-to($break-480) {
                    float: none;
                    width: 100%;
                    padding: 40px 20px;
                    margin-left: -20px;
                    margin-right: -20px;
                    box-sizing: content-box;
                    background: #e3e3e3;
                }
                h2 {
                    @extend %gotham-book;
                    font-size: 30px;
                    line-height: 54px;
                    font-weight: normal;
                    margin: 0;
                    padding-top: 12px;
                    @include respond-to($break-980) {
                        font-size: 22px;
                    }
                    @include respond-to($break-480) {
                        margin: 0;
                        padding: 0;
                        line-height: 1.2em;
                    }
                    &.hdvn {
                        @extend %gotham-ultra;
                        font-size: calcEm(24, 14);
                    }
                }
                .desc {
                    @extend %roboto-regular;
                    font-size: 15px;
                    color: $black-2;
                    padding-bottom: 17px;
                    margin-top: -5px;
                    @include respond-to($break-980) {
                        font-size: 14px;
                    }
                    @include respond-to($break-767) {
                        padding-top: 15px;
                    }
                }
                input {
                    width: 100%;
                    max-width: 460px;
                    height: 40px;
                    border: none;
                    background: #fff;
                    @extend %roboto-regular;
                    font-size: 15px;
                    padding: 0px 15px;
                    margin-bottom: 10px;
                    @include placeholder {
                        color: #999999;
                        @include opacity(1);
                    }
                }
                .select-wrp {
                    width: 100%;
                    max-width: 460px;
                    height: 40px;
                    select {
                        width: 100%;
                        display: inline-block;
                        border-radius: 0;
                        height: 40px;
                        float: left;
                        border: none;
                        background: #fff;
                        @extend %roboto-regular;
                        font-size: 15px;
                        color: $grey-1;
                        line-height: 40px;
                        padding: 0px 11px;
                        @include appearance(none);
                        background: #fff url("../images/icon/select_box.png") no-repeat right center;
                        &::-ms-expand {
                            display: none;
                        }
                        @include respond-to($break-780) {
                            padding-right: 40px;
                            /* width: calc(100% - 71px); */
                        }
                    }
                    a {
                        display: inline-block;
                        width: 91px;
                        height: 40px;
                        float: left;
                        font-size: 15px;
                        @extend %roboto-regular;
                        background: $main-red;
                        @include transition();
                        text-align: center;
                        line-height: 40px;
                        color: #fff;
                        &:hover {
                            opacity: .7;
                            @include transition();
                        }
                        @include respond-to($break-780) {
                            width: 70px;
                        }
                    }
                }
                .msg.msg-dknt {
                    font-size: 15px;
                    @extend %roboto-regular;
                    color: $main-red;
                    margin-top: 10px;
                    &.msg-done {
                        color: green;
                    }
                }
                @include ipad-portrait {
                    margin-left: 0;
                    padding-bottom: 30px;
                }
            }
        }
    }
    // End Contact
    // Site map
    .site-map {
        width: 100%;
        background: #131313;
        @include respond-to($break-1200) {
            padding-left: 40px;
            padding-right: 40px;
        }
        @include respond-to($break-780) {
            height: auto;
        }
        @include respond-to($break-640) {
            padding: 0 20px;
        }
        .something-special {
            width: 100%;
            max-width: 1180px;
            margin: 0 auto;
        }
        .center-content {
            overflow-x: hidden;
            padding-left: 10%;
            @include respond-to(1024px) {
                padding-left: 0;
            }
            @include respond-to($break-374) {
                height: auto;
            }
            ul {
                width: 20%;
                height: 292px;
                float: left;
                list-style: none;
                padding-top: 51px;
                &.list-2 {
                    padding-left: 16px;
                    @include respond-to($break-780) {
                        padding-left: 0;
                    }
                }
                @include respond-to($break-980) {
                    width: 25%;
                }
                @include respond-to($break-780) {
                    width: 50%;
                    height: auto;
                }
                @include ipad-portrait {
                    width: 25%;
                }
                @include respond-to($break-374) {
                    width: 100%;
                    float: none;
                    height: auto;
                }
                &.list-1 {
                    width: calc(20% - 17px);
                    @include respond-to($break-980) {
                        width: 25%;
                    }
                    @include respond-to($break-780) {
                        width: 50%;
                    }
                    @include ipad-portrait {
                        width: 25%;
                    }
                    @include respond-to($break-374) {
                        width: 100%;
                    }
                }
                li {
                    list-style: none;
                    a {
                        @extend %roboto-regular;
                        font-size: 13px;
                        color: #959595;
                        line-height: 24px;
                        &:hover {
                            color: #fff;
                        }
                        &.big {
                            @extend %roboto-bold;
                            text-transform: uppercase;
                            font-size: 15px;
                            color: #fff;
                            line-height: 33px;
                            opacity: 1;
                            @include respond-to($break-480) {
                                font-size: 13px;
                            }
                        }
                    }
                    &.active {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
            .wrap-lv1 {
                width: 60%;
                height: 292px;
                float: left;
                @include respond-to($break-980) {
                    width: 50%;
                }
                @include respond-to($break-780) {
                    float: none;
                    width: 100%;
                }
                @include ipad-portrait {
                    width: 50%;
                    float: left;
                }
                @include respond-to($break-374) {
                    height: auto;
                }
                ul {
                    width: 33.333%;
                    height: 292px;
                    float: left;
                    @include respond-to($break-980) {
                        width: 50%;
                    }
                    @include respond-to($break-374) {
                        width: 100%;
                        float: none;
                        height: auto;
                    }
                    &.list-3 {
                        padding-left: 5px;
                        width: calc(33.333% - 17px);
                        @include respond-to($break-980) {
                            width: 50%;
                            padding-left: 45px;
                        }
                        @include respond-to($break-780) {
                            padding-left: 0px;
                        }
                        @include respond-to($break-374) {
                            width: 100%;
                        }
                    }
                }
                .wrap-lv2 {
                    width: 66.666%;
                    height: 292px;
                    float: left;
                    @include respond-to($break-980) {
                        width: 50%;
                    }
                    @include respond-to($break-374) {
                        width: 100%;
                        float: none;
                        height: auto;
                        padding-bottom: 45px;
                    }
                    ul {
                        float: left;
                        width: 50%;
                        height: 292px;
                        &.list-4 {
                            padding-left: 26px;
                            @include respond-to($break-780) {
                                padding-left: 0;
                            }
                            @include ipad-portrait {
                                padding-left: 40px;
                            }
                            @include memo-landscape {
                                padding-left: 0;
                            }
                        }
                        @include respond-to($break-980) {
                            width: 100%;
                            height: auto;
                        }
                        @include respond-to($break-374) {
                            float: none;
                        }
                        &.list-5 {
                            padding-left: 15px;
                            @include respond-to($break-980) {
                                padding-left: 26;
                                padding-top: 0;
                            }
                            @include respond-to($break-780) {
                                padding-left: 0;
                            }
                            @include ipad-portrait {
                                margin-top: 40px;
                                padding-left: 40px;
                            }
                        }
                    }
                }
            }
        }
        &.mobile {
            display: none;
        }
        @include respond-to($break-640) {
            &.desktop {
                display: none;
            }
            &.mobile {
                display: block;
                padding-bottom: 45px;
                .row {
                    margin-left: -15px;
                    margin-right: -15px;
                    @include clearfix;
                    .col-xs-6 {
                        float: left;
                        width: 50%;
                        padding-left: 15px;
                        padding-right: 15px;
                        ul {
                            width: 100%;
                        }
                        &:nth-child(2) {
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
    // End Site map
    // Bottom
    .bottom {
        width: 100%;
        height: 48px;
        background: #000;
        @include respond-to($break-1200) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include respond-to($break-700) {
            height: auto;
            text-align: left;
        }
        .right {
            float: right;
            @include respond-to($break-700) {
                float: none;
                width: 100%;
                line-height: 40px;
            }
            p {
                @extend %roboto-regular;
                font-size: 13px;
                color: #fff;
                @include opacity(0.4);
                float: left;
                margin-top: 16px;
                @include respond-to(700px) {
                    float: none;
                    display: inline-block;
                    margin-top: 0;
                }
            }
            a {
                float: left;
                @include opacity(1);
                margin: 11px 0px 0px 20px;
                img{
                    width: 27px;
                }
                &:hover {
                    @include opacity(0.5);
                }
                @include respond-to(700px) {
                    float: none;
                    display: inline-block;
                }
                @include respond-to($break-480) {
                    margin-left: 20px;
                }
            }
        }
        .left {
            float: left;
            @extend %roboto-regular;
            font-size: 13px;
            color: #fff;
            line-height: 48px;
            @include opacity(0.4);
            @include respond-to($break-700) {
                float: none;
                width: 100%;
            }
            @include respond-to($break-480) {
                line-height: 1em;
                padding-bottom: 20px;
            }
        }
    }
    // End Bottom
}
div.selector{
    height: 40px;
    padding-left: 0;
    float: left;
    width: calc(100% - 91px) !important;
    @include respond-to(780px){
        width: calc(100% - 70px) !important;
    }
}
div.selector.hover, div.selector.focus{
    background-position: right center;
    span{
        background-position: right center;
    }
}
div.selector span {
    width: 100% !important;
    display: inline-block;
    border-radius: 0;
    height: 40px;
    float: left;
    border: none;
    background: #fff;
    @extend %roboto-regular;
    font-size: 15px;
    color: $grey-1;
    line-height: 40px;
    padding: 0px 11px;
    @include appearance(none);
    background: #fff url("../images/icon/select_box.png") no-repeat right center;
    &::-ms-expand {
        display: none;
    }
    @include respond-to($break-780) {
        padding-right: 40px;
        width: calc(100% - 71px);
    }
}