.img-responsive {
  max-width: 100%;
  height: auto; }

.image-desktop {
  display: inline-block; }
  @media only screen and (max-width: 1024px) {
    .image-desktop {
      display: none; } }

.image-desktop-tablet {
  display: inline-block; }
  @media only screen and (max-width: 640px) {
    .image-desktop-tablet {
      display: none; } }

.image-tablet {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .image-tablet {
      display: inline-block; } }
  @media only screen and (max-width: 640px) {
    .image-tablet {
      display: none; } }

.image-mobile {
  display: none; }
  @media only screen and (max-width: 640px) {
    .image-mobile {
      display: inline-block; } }

.box-all-tbmt {
  font-family: "robotoregular"; }
  .box-all-tbmt .xem-truoc-admin .row-content:nth-child(odd) {
    background: #f5f5f5; }
  .box-all-tbmt .all-tbmt .head-table {
    height: 70px;
    background: #ebebeb; }
    .box-all-tbmt .all-tbmt .head-table th {
      text-align: left;
      font-size: 14px; }
    .box-all-tbmt .all-tbmt .head-table th:first-child {
      text-align: center; }
    .box-all-tbmt .all-tbmt .head-table .stt {
      width: 60px; }
    .box-all-tbmt .all-tbmt .head-table .so-tbmt {
      width: 140px; }
    .box-all-tbmt .all-tbmt .head-table .ten-goi-thau {
      width: -moz-calc(100% - 600px);
      width: -webkit-calc(100% - 600px);
      width: calc(100% - 600px); }
    .box-all-tbmt .all-tbmt .head-table .thoi-diem-tai {
      width: 170px; }
    .box-all-tbmt .all-tbmt .head-table .thoi-gian-mo {
      width: 170px; }
    .box-all-tbmt .all-tbmt .head-table .table-edit {
      padding-right: 10px;
      width: 30px;
      color: #000; }
  .box-all-tbmt .all-tbmt .row-content {
    height: 70px; }
    .box-all-tbmt .all-tbmt .row-content td {
      padding-left: 10px; }
    .box-all-tbmt .all-tbmt .row-content .date-time {
      width: 50%;
      display: inline-block;
      padding-right: 20px;
      padding-left: 10px; }
    .box-all-tbmt .all-tbmt .row-content .date {
      text-align: left; }
    .box-all-tbmt .all-tbmt .row-content .time {
      text-align: right; }
    .box-all-tbmt .all-tbmt .row-content td:first-child {
      text-align: center; }
    .box-all-tbmt .all-tbmt .row-content .btn-edit {
      color: #000000; }
      .box-all-tbmt .all-tbmt .row-content .btn-edit:hover {
        color: #ea2036; }
  .box-all-tbmt .all-tbmt .row-content:nth-child(even) {
    background: #f5f5f5; }
  .box-all-tbmt .pagination-wrp .pagination {
    text-align: right; }

@media only screen and (max-width: 767px) {
  .box-all-tbmt .all-tbmt .head-table .stt {
    width: 40px; }
  .box-all-tbmt .all-tbmt .head-table .so-tbmt {
    width: 110px; }
  .box-all-tbmt .all-tbmt .head-table .ten-goi-thau {
    width: -moz-calc(100% - 480px);
    width: -webkit-calc(100% - 480px);
    width: calc(100% - 480px); }
  .box-all-tbmt .all-tbmt .head-table .thoi-diem-tai {
    width: 160px; }
  .box-all-tbmt .all-tbmt .head-table .thoi-gian-mo {
    width: 170px; } }
.right-content {
  font-family: "robotoregular"; }
  .right-content .box-search-login .box-search {
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    float: left;
    position: relative; }
    .right-content .box-search-login .box-search .advanced-search {
      cursor: pointer; }
    .right-content .box-search-login .box-search .input-search {
      line-height: normal;
      width: 100%;
      height: 50px;
      padding-left: 20px;
      padding-left: 20px; }
    .right-content .box-search-login .box-search .advanced-search {
      position: absolute;
      right: 20px;
      top: 0px;
      line-height: 50px;
      height: 50px;
      color: #000;
      opacity: 0.8; }
      .right-content .box-search-login .box-search .advanced-search i {
        padding-left: 15px;
        color: #ea2036; }
    .right-content .box-search-login .box-search .pupup-search-advance {
      display: none;
      border: 1px solid #c9c9c9;
      background: #FFFFFF;
      width: 100%;
      height: 280px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 25px;
      font-size: 13px;
      font-family: "Iciel Gotham Medium";
      z-index: 1; }
      .right-content .box-search-login .box-search .pupup-search-advance .edit-radio-choose input[type="radio"] {
        display: none; }
      .right-content .box-search-login .box-search .pupup-search-advance .edit-radio-choose input[type="radio"] + label:before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .right-content .box-search-login .box-search .pupup-search-advance .edit-radio-choose input[type="radio"] + label:before {
        border: 1px solid;
        color: #ececec; }
      .right-content .box-search-login .box-search .pupup-search-advance .edit-radio-choose input[type="radio"]:checked + label:before {
        background-color: #ea2036; }
      .right-content .box-search-login .box-search .pupup-search-advance .edit-radio-choose input[type="radio"] + label:before,
      .right-content .box-search-login .box-search .pupup-search-advance .edit-radio-choose input[type="radio"]:checked + label:before {
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -ms-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear; }
      .right-content .box-search-login .box-search .pupup-search-advance tr {
        height: 60px; }
      .right-content .box-search-login .box-search .pupup-search-advance .table-search {
        width: 100%;
        height: 100%; }
        .right-content .box-search-login .box-search .pupup-search-advance .table-search .text-key-search {
          padding-right: 50px; }
        .right-content .box-search-login .box-search .pupup-search-advance .table-search .w50 {
          width: 50%;
          float: left;
          text-align: right;
          position: relative; }
          .right-content .box-search-login .box-search .pupup-search-advance .table-search .w50 .date-pic {
            position: absolute;
            top: 20%;
            right: 10px; }
        .right-content .box-search-login .box-search .pupup-search-advance .table-search .input-date {
          height: 40px;
          border: 1px solid #c9c9c9;
          padding-left: 10px; }
        .right-content .box-search-login .box-search .pupup-search-advance .table-search .calc {
          width: -moz-calc(100% - 130px);
          width: -webkit-calc(100% - 130px);
          width: calc(100% - 130px); }
          .right-content .box-search-login .box-search .pupup-search-advance .table-search .calc input {
            width: 100%;
            height: 40px;
            border: 1px solid #c9c9c9;
            padding-left: 10px; }
        .right-content .box-search-login .box-search .pupup-search-advance .table-search .btn-search {
          text-align: center;
          background: red;
          width: 100px;
          display: block;
          float: right;
          height: 35px;
          line-height: 35px;
          color: #fff;
          cursor: pointer; }
  .right-content .box-search-login .box-login {
    position: relative;
    width: 200px;
    float: left;
    text-align: right;
    height: 50px;
    padding-right: 10px; }
    .right-content .box-search-login .box-login .user-login {
      font-family: "Iciel Gotham Medium";
      color: #000;
      opacity: 0.6; }
      .right-content .box-search-login .box-login .user-login .name-user {
        line-height: 40px;
        float: right;
        margin-left: 10px; }
    .right-content .box-search-login .box-login .login {
      line-height: 50px;
      font-family: "Iciel Gotham Medium";
      color: #000;
      opacity: 0.6; }
      .right-content .box-search-login .box-login .login:hover {
        cursor: pointer; }
    .right-content .box-search-login .box-login .pupup-login {
      width: 430px;
      height: 210px;
      display: none;
      background: #FFFFFF;
      position: absolute;
      top: 80%;
      right: 0%;
      border: 1px solid #c9c9c9;
      padding: 30px;
      font-size: 13px;
      font-family: "Iciel Gotham Medium";
      z-index: 1; }
      .right-content .box-search-login .box-login .pupup-login:before {
        content: " ";
        display: block;
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 10px;
        height: 10px;
        position: absolute;
        right: 50px;
        background: #fff;
        top: -6px;
        border-top: 1px solid #c9c9c9;
        border-right: 1px solid #c9c9c9; }
      .right-content .box-search-login .box-login .pupup-login .btn-login {
        margin-top: 15px; }
      .right-content .box-search-login .box-login .pupup-login .username {
        margin-top: 15px; }
      .right-content .box-search-login .box-login .pupup-login .btn-lose:hover {
        cursor: pointer; }
      .right-content .box-search-login .box-login .pupup-login .btn-lose img {
        position: absolute;
        top: 10px;
        right: 10px; }
      .right-content .box-search-login .box-login .pupup-login .row-pup {
        width: 100%;
        height: 40px; }
        .right-content .box-search-login .box-login .pupup-login .row-pup .text-login {
          width: 30%;
          float: left;
          text-align: left;
          line-height: 30px; }
        .right-content .box-search-login .box-login .pupup-login .row-pup .input-login {
          width: 70%;
          display: block;
          float: left;
          height: 35px; }
        .right-content .box-search-login .box-login .pupup-login .row-pup .link-qmk {
          margin-right: 20px;
          line-height: 40px;
          color: #000000; }
        .right-content .box-search-login .box-login .pupup-login .row-pup .btn-dn {
          display: block;
          width: 40%;
          float: right;
          background: #eb212e;
          height: 40px;
          line-height: 40px;
          text-align: center; }
          .right-content .box-search-login .box-login .pupup-login .row-pup .btn-dn a {
            color: #FFFFFF; }
  .right-content .title-name {
    clear: both;
    height: 110px;
    font-size: 30px;
    color: #eb212e;
    line-height: 110px;
    font-family: "robotobold";
    position: relative;
    z-index: 0; }
    .right-content .title-name .add-new {
      width: 150px;
      text-align: center;
      height: 40px;
      background: #eb212e;
      color: #fff;
      font-size: 14px;
      display: block;
      position: absolute;
      line-height: 40px;
      top: 30%;
      right: 0px;
      cursor: pointer; }
      .right-content .title-name .add-new a {
        color: #FFFFFF; }
    .right-content .title-name .cac-phien-ban {
      width: 300px;
      height: 40px;
      position: absolute;
      line-height: 40px;
      top: 30px;
      right: 130px; }
      .right-content .title-name .cac-phien-ban.pagination-wrp {
        margin: 0; }
      .right-content .title-name .cac-phien-ban .ul-phien-ban {
        display: inline-block; }
      .right-content .title-name .cac-phien-ban .color-gray {
        color: gray;
        font-size: 14px; }

.create-new-tm {
  width: 100%;
  font-family: "Iciel Gotham Medium";
  font-size: 13px; }
  .create-new-tm .them-thau-moi {
    width: 100%; }
    .create-new-tm .them-thau-moi .h50 {
      height: 50px; }
    .create-new-tm .them-thau-moi .lh50 {
      line-height: 50px; }
    .create-new-tm .them-thau-moi .text-name-tm {
      width: 250px;
      line-height: 50px;
      position: relative;
      padding-left: 10px; }
    .create-new-tm .them-thau-moi .input-name-tm {
      position: relative;
      width: -moz-calc(100% - 450px);
      width: -webkit-calc(100% - 450px);
      width: calc(100% - 450px); }
      .create-new-tm .them-thau-moi .input-name-tm input {
        width: 100%;
        height: 40px;
        padding-left: 10px; }
      .create-new-tm .them-thau-moi .input-name-tm .date-pic {
        position: absolute;
        right: 15px;
        top: 30%;
        cursor: pointer; }
      .create-new-tm .them-thau-moi .input-name-tm select {
        width: 100%;
        height: 40px;
        padding-left: 10px; }
    .create-new-tm .them-thau-moi .upload-file-tm {
      width: 200px;
      padding: 0 10px;
      background: #FFFFFF; }
      .create-new-tm .them-thau-moi .upload-file-tm .pd-l-10 {
        padding-left: 10px; }
      .create-new-tm .them-thau-moi .upload-file-tm.ds-ban-tin {
        vertical-align: top; }
      .create-new-tm .them-thau-moi .upload-file-tm .ban-tin {
        width: 100%;
        font-size: 12px;
        height: 40px; }
      .create-new-tm .them-thau-moi .upload-file-tm .uploaded-file {
        float: left; }
      .create-new-tm .them-thau-moi .upload-file-tm .lh50 {
        float: left; }
      .create-new-tm .them-thau-moi .upload-file-tm.vtc-al-t {
        vertical-align: top; }
      .create-new-tm .them-thau-moi .upload-file-tm td {
        vertical-align: top;
        height: 80px; }
      .create-new-tm .them-thau-moi .upload-file-tm .color-gray {
        color: #989898; }
      .create-new-tm .them-thau-moi .upload-file-tm .upload-file {
        border: 2px dashed #eb212e;
        border-radius: 10px;
        height: 180px;
        text-align: center;
        padding: 30px;
        font-size: 14px;
        font-family: "Iciel Gotham Medium"; }
      .create-new-tm .them-thau-moi .upload-file-tm .text-ttlq {
        border: 2px solid #c9c9c9;
        height: 180px; }
        .create-new-tm .them-thau-moi .upload-file-tm .text-ttlq textarea {
          height: -moz-calc(100% - 34px);
          height: -webkit-calc(100% - 34px);
          height: calc(100% - 34px);
          border: none;
          padding: 10px; }
        .create-new-tm .them-thau-moi .upload-file-tm .text-ttlq .thong-bao-moi {
          border-top: 2px solid #c9c9c9;
          text-align: center;
          line-height: 30px; }
    .create-new-tm .them-thau-moi .btn-red {
      width: 150px;
      text-align: center;
      height: 40px;
      background: #eb212e;
      color: #fff;
      font-size: 14px;
      display: block;
      position: absolute;
      line-height: 40px;
      cursor: pointer; }
    .create-new-tm .them-thau-moi .quay-lai {
      top: 30%;
      left: 0px; }
    .create-new-tm .them-thau-moi .xem-truoc {
      top: 30%;
      right: 0px; }

.color-red {
  color: #ea2036; }

.backgroud-popup {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none; }
  .backgroud-popup .request-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    width: 600px;
    height: 330px;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid;
    padding: 20px;
    font-family: "Iciel Gotham Medium";
    font-size: 14px; }
    .backgroud-popup .request-popup .close-popup-request {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer; }
    .backgroud-popup .request-popup h2 {
      color: red;
      font-size: 18px;
      text-align: center;
      line-height: 50px; }
    .backgroud-popup .request-popup .text-popup {
      width: 30%;
      float: left; }
    .backgroud-popup .request-popup .content-popup {
      width: 70%;
      float: left; }
    .backgroud-popup .request-popup .lh30 {
      line-height: 30px; }
    .backgroud-popup .request-popup textarea {
      height: 100px;
      width: 382px;
      padding: 15px; }
    .backgroud-popup .request-popup .box-submit {
      padding-right: 8px;
      padding-top: 20px; }
      .backgroud-popup .request-popup .box-submit .btn-submit {
        text-align: center;
        background: red;
        width: 100px;
        display: block;
        float: right;
        height: 35px;
        line-height: 35px;
        color: #fff;
        cursor: pointer; }

/*# sourceMappingURL=dauthau.css.map */
