.right-content{
  .box-search-login{
    .box-search{
      width: calc(100% - 200px);
      float: left;
      position: relative;
      .input-search{
        line-height: normal;
        width: 100%;
        height: 50px;
        padding-left: 20px;
      }
      .advanced-search{
        position: absolute;
        right: 20px;
        top: 0px;
        line-height: 50px;
        height: 50px;
        color: #000;
        opacity: 0.8;
        i{
          padding-left: 15px;
          color: #ea2036;
        }
      }
    }
    .box-login{
      position: relative;
      width: 200px;
      float: left;
      text-align: right;
      height: 50px;
      padding-right: 10px;
      .login{
        line-height: 50px;
      }
      .pupup-login{
        width: 430px;
        height: 230px;
        background: #FFFFFF;
        position: absolute;
        top: 80%;
        right: 0%;
        border: 1px solid;
      }
    }
  }
  .title-name{
    clear: both;
    height: 110px;
    font-size: 30px;
    color: #eb212e;
    line-height: 110px;
  }
  .box-all-tbmt{
    .all-tbmt{
      .head-table{
        height: 70px;
        background: #ebebeb;
        th{
          text-align: left;
          font-size: 14px;
        }
        th:first-child{
          text-align: center;
        }
        .stt{
          width: 60px;
        }
        .so-tbmt{
          width: 140px;
        }
        .ten-goi-thau{
          width: calc(100% - 600px);
        }
        .thoi-diem-tai{
          width: 170px;
        }
        .thoi-gian-mo{
          width: 230px;
        }
      }
      .row-content{
        height: 70px;
        td:first-child{
          text-align: center;
        }
      }
      .row-content:nth-child(even) {
        background: #f5f5f5;
      }
    }
    .pagination-wrp {
      .pagination{
        text-align: right;
      }
    }
  }
}
