
@import "scss/module/variables";

.link-direct{
  @include appearance(none);
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  background: url(" ../images/icon/select_box.png") right center no-repeat;
  padding: 0 40px 0 20px;
  font-size: 14px;
  font-family: $font-gothambold-new;
  color: $main-red;
  display: none;
  @include respond-to($break-1024){
    display: block;
  }
}


//css table
.large_hidden{display: none}
@include respond-to($break-767){
  .large_hidden{display: block}
}
#footer{
  position: relative;
  .stop-side-menu{
    position: absolute;
    top: -50px;
    left: 0;
  }
}
.box-all-tbmt{
  font-family: $font-robotoregular;
  .xem-truoc-admin{
    .row-content:nth-child(odd) {
      background: #f5f5f5;
    }
  }
  .all-tbmt{
    width: 100%;
    .col-3{
      padding: 0 10px;
    }
    .head-table{
      height: 70px;
      background: #ebebeb;
      @include respond-to($break-767){
        display: none;
      }
      th{
        text-align: left;
        font-size: 14px;
      }
      th:first-child{
        text-align: center;
      }
      .stt{
        width: 60px;
      }
      .so-tbmt{
        width: 110px;
      }

      .thoi-diem-tai{
        width: 170px;
        @include respond-to($break-1199){
          width: 140px;
        }
      }
      .thoi-gian-mo{
        width: 170px;
      }
      .table-edit{
        padding-right: 10px;
        width: 30px;
        color: #000;
      }
    }
    .row-content{
      height: 70px;
      td{
        //padding-left: 10px;
      }
      .date-time{
        width:50%;
        display: inline-block;
        padding-right: 20px;
        padding-left: 10px;
      }
      .date{
        text-align: left;
      }
      .time{
        text-align: right;
      }
      td:first-child{
        text-align: center;
      }
      .btn-edit{
        color: #000000;
        &:hover{
          color: #ea2036;
        }
      }
      .btn-mb-admin{display: none;}
      .btn-admin{
        font-size: 20px;
        a{
          color: #000;
        }
      }
      @include respond-to($break-767){
        .btn-mb-admin{
          display: table-cell;
          width: 20px;
          font-size: 20px;
          padding: 0px 10px;
          a{
            color: #000;
          }
        }
        .btn-admin,
        .col-1{

          display: none;
        }
        td{
          display: table;
          width: 100%;
          font-size: 12px;
          &.col-2{
            background: #ececec;
          }
          > div{
            text-align: right;
            padding: 10px;
            &:first-child{
              text-align: left;
              white-space: nowrap;
              padding-right: 20px;
              font-family: $font-robotobold;
              color: #000;
            }
            display: table-cell;
          }
        }
      }
    }
    .row-content:nth-child(even) {
      background: #f5f5f5;
      @include respond-to($break-767){
        background: transparent;
      }
    }
  }
  .pagination-wrp {
    .pagination{
      text-align: right;
    }
  }
}
@include respond-to($break-767){
  .box-all-tbmt{
    .all-tbmt {
      .head-table {
        .stt {
          width: 40px;
        }
        .so-tbmt {
          width: 110px;
        }
        .thoi-diem-tai {
          width: 160px;
        }
        .thoi-gian-mo {
          width: 170px;
        }
      }
    }
  }
}
//end css table

//search-login
.box-search-login{
  input{
    @include appearance(none);
    border: 1px solid #cbcbcb;
    padding-left: 10px;
  }
  .box-search{
    @include calc('width', '100% - 200px');
    float: right;
    position: relative;
    .advanced-search{
      cursor: pointer;
    }
    .input-search{
      line-height: normal;
      width: 100%;
      height: 50px;
      padding-left: 20px;
    }
    .advanced-search-text{
      position: absolute;
      right: 55px;
      top: 0px;
      line-height: 50px;
      height: 50px;
      color: #000;
      opacity: 0.8;
      cursor: pointer;
      z-index:1;
    }
    .advanced-search{
      position: absolute;
      right: 20px;
      top: 0px;
      line-height: 50px;
      height: 50px;
      color: #000;
      opacity: 0.8;
      i{
        padding-left: 15px;
        color: #ea2036;
      }
    }
  }
  .box-login{
    position: relative;
    width: 200px;
    float: right;
    text-align: right;
    height: 50px;
    padding-right: 10px;
    .user-login{
      font-family: "Iciel Gotham Medium";
      color: #666666;
      .name-user{
        line-height: 40px;
        float: right;
        margin-left: 10px;
        cursor: pointer;
      }
    }
    .login{
      &:hover{
        cursor: pointer;
      }
      line-height: 50px;
      font-family: $font-icielgothammedium;
      color: #000;
      opacity: 0.6;
    }
    .pupup-login{
      &:before{
        content: " ";
        display: block;
        @include rotate(-45deg);
        width: 10px;
        height: 10px;
        position: absolute;
        right: 50px;
        background: #fff;
        top: -6px;
        border-top: 1px solid #c9c9c9;
        border-right: 1px solid #c9c9c9;

      }
      width: 430px;
      height: 210px;
      display: none;
      background: #FFFFFF;
      position: absolute;
      top: 80%;
      right: 0%;
      border: 1px solid #c9c9c9;
      padding: 30px;
      font-size: 13px;
      font-family: $font-icielgothammedium;
      z-index:2;
      .btn-login {
        margin-top: 15px;
      }
      .username{
        margin-top: 15px;
      }
      .btn-lose{
        &:hover{
          cursor: pointer;
        }
        img{
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
      .row-pup{
        width: 100%;
        height: 40px;
        .text-login{
          width: 30%;
          float: left;
          text-align: left;
          padding: 10px 0;
        }
        .input-login{
          width: 70%;
          display: block;
          float: left;
          height: 35px;
        }
        .link-qmk{
          margin-right: 20px;
          line-height: 40px;
          color: #000000;
        }
        .btn-dn{
          display: block;
          width: 40%;
          float: right;
          background: #eb212e;
          height: 40px;
          line-height: 40px;
          text-align: center;
          a{
            color: #FFFFFF;
          }
        }

      }
    }
  }
}
//css box search advance
.pupup-search-advance{
  display: none;
  border: 1px solid #c9c9c9;
  background: #FFFFFF;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 25px;
  font-size: 13px;
  font-family: $font-icielgothammedium;
  z-index:4;
  .content-search{
    .input-key{
      height: 40px;
      width:100%;
      padding-left: 10px;
    }
  }
  .lh40{
    line-height: 40px;
  }
  .w100{
    width: 100%;
    padding: 7px 0;
  }
  .w210{
    @include calc('width', '50% - 75px');
    float: right;
    position: relative;
    .w70{
      width: 70px;
      float: left;
      padding-left: 7px;
      line-height:40px;
    }
    input{
      height: 40px;
      width: 169px;
      padding-left: 10px;
      float: left;
    }
    i{
      position: absolute;
      top: 6px;
      right:10px;
    }
  }
  .text-search{
    width: 150px;
    float: left;
  }
  .content-search{
    @include calc('width', '100% - 150px');
    float: left;
  }
  .time-search{
    padding: 15px 0px;
  }
  .w30  {
    width:30%;
    float: left;
    &:last-child{
      width: 40%;
    }
  }
  .list-choose{

    input[type="radio"] {
      display:none;
    }
    input[type="radio"] + label:before {
      content: "";
      display:inline-block;
      width:15px;
      height:15px;
      margin:-1px 4px 0 0;
      vertical-align:middle;
      cursor:pointer;
      @include border-radius(50%);
    }
    input[type="radio"] + label:before {
      border: 1px solid;
      color: #ececec;
    }
    input[type="radio"]:checked + label:before{
      background-color:#ea2036;
    }
    input[type="radio"] + label:before,
    input[type="radio"]:checked + label:before {
      @include transition(0.3s);
    }
  }
  .box-btn-search{
    padding-top: 25px;
  }
  .btn-search{
    width: 150px;
    text-align: center;
    height: 40px;
    background: #eb212e;
    color: #fff;
    float: right;
    font-size: 14px;
    display: block;
    line-height: 40px;
    cursor: pointer;
  }

}
//end box search ad
//end search login
.right-content{
  font-family: $font-robotoregular;
  .title-name{
    clear: both;
    font-size: 30px;
    color: #eb212e;
    font-family: $font-gothambold-new;
    position: relative;
    z-index:0;
    padding: 34px 0;
    line-height: 1.41;
    @include respond-to($break-767){
      font-size: 24px;
    }
    .add-new{
      width: 150px;
      text-align: center;
      height: 40px;
      background: #eb212e;
      color: #fff;
      font-size: 14px;
      display: block;
      position: absolute;
      line-height: 40px;
      top: 35px;
      right: 0px;
      cursor: pointer;
      a{
        color: #FFFFFF;
      }
    }
    .cac-phien-ban{
      width: 300px;
      height: 40px;
      position: absolute;
      line-height: 40px;
      top: 30px;
      right: 148px;
      .color-gray{
        color: gray;
        font-size: 14px;
      }
      &.pagination-wrp{
        margin: 0;
      }
      .ul-phien-ban{
        display: inline-block;
      }
    }
  }
}
//tao thau moi
.create-new-tm{
  width:100%;
  font-family: $font-icielgothammedium;
  font-size: 13px;
    .h50{
      height: 50px;
    }
    .lh50{
      line-height: 50px;
    }
    .text-name-tm{
      width: 250px;
      line-height: 50px;
      position: relative;
      padding-left: 10px;
      float: left;
    }
    .input-name-tm{
      position: relative;
      @include calc('width', '100% - 250px');
      float: left;
      .lock-unlock{
        position: absolute;
        right: 45px;
        top: 15px;
        color: #007fff;
        @include respond-to($break-767)
        {
          right: 10px;
          top: 17px;
        }
      }
      input{
        width:100%;
        height:40px;
        padding-left: 10px;
      }
      .date-pic{
        position: absolute;
        right: 15px;
        top: 7px;
        cursor: pointer;
      }
      select{
        width:100%;
        height:40px;
        padding-left: 10px;
      }
    }
    .upload-file-tm{
      width: 200px;
      padding: 0 10px;
      background: #FFFFFF;
      .pd-l-10{
        padding-left: 10px;
      }
      .lh50{
        float: left;
      }
      &.vtc-al-t{
        vertical-align: top;
      }
      td{
        vertical-align: top;
        height: 80px;
      }
      .color-gray{
        color: #989898;
      }
    }
  .box-btn-conent{
    clear: both;
    padding-top: 30px;
    .quay-lai, .xem-truoc{
      width: 50%;
      display: block;
      float: left;
    }
    .xem-truoc{
      .btn-red{
        float: right;
        margin-right: 200px;
      }
    }
  }
}
.btn-red{
  width: 150px;
  text-align: center;
  height: 40px;
  background: #eb212e;
  color: #fff;
  font-size: 14px;
  display: block;
  line-height: 40px;
  cursor: pointer;
}

.upload-file{
  border: 2px dashed #eb212e;
  border-radius: 10px;
  height: 180px;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  font-family: $font-icielgothammedium;
  position: relative;
  overflow: hidden;
  img{
    position: relative;
    z-index: 0;
    p{
      position: relative;
      z-index: 0;
    }
  }
  .has-fl{
    display: none;
  }
  &.has-file{
    .has-fl{
      display: block;
      margin: 0 auto;
    }
    .no-fl{
      display: none;
    }
  }
  input{
    position: absolute;
    @include size(100%);
    z-index: 2;
    top: 0;
    left: 0;
    @include appearance(none);
    opacity: 0;
  }
  .name{
    font-size: 12px;
    margin-top: 8px !important;
  }
  .size{
    font-size: 11px;
    color: #989898;
    margin-top: 5px !important;
  }
  .name,
  .size{
    position: relative;
    z-index: 0;
  }

  .uploadfile{
    position: relative;
    z-index: 3;
    font-family: $font-robotobold;
    margin-top: 10px;
    color: $main-red;
  }
}

.color-red{
  color: #ea2036;
}

.style-form-input{
  select,
  input{
    @include appearance(none);
    border: 1px solid #000;
    height: 40px;
    padding: 0 20px;
    background: #fff;
    width: 100%;
    max-width: 500px;
  }

  select{
    background: url("../images/icon/select_box.png") right center no-repeat;
  }
  input{}
}
//Datepicker

#ui-datepicker-div{
  background: #FFFFFF;
  .ui-datepicker-calendar{
    thead{
      border-top: 1px solid #ececec;
      border-bottom: 1px solid #c6c6c6;
    }
  }
  .ui-datepicker-header{
    background: #FFFFFF;
    border: none;
    color: #000000;
  }
  .ui-state-default{
    text-align: center;
    border: none;
    background: transparent;
  }
  .ui-state-hover{
    color: #FFFFFF;
    background: #ea2036;
  }
  .ui-state-active{
    color: #FFFFFF;
    background: #ea2036;
    opacity: 0.3;
  }
  .ui-icon-circle-triangle-w {
    background-position: -98px 0px;
  }
  .ui-icon-circle-triangle-e {
    background-position: -33px 0px;
  }
}

//request-popup
.backgroud-popup{
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  .request-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    width: 600px;
    height: 330px;
    @include translate(-50%, -50%);
    border: 1px solid;
    padding: 20px;
    font-family: $font-icielgothammedium;
    font-size: 14px;
    .close-popup-request{
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    h2{
      color: red;
      font-size: 18px;
      text-align: center;
      line-height: 50px;
    }
    .text-popup{
      width: 30%;
      float: left;
    }
    .content-popup{
      width:70%;
      float: left;
    }
    .lh30{
      line-height: 30px;
    }
    textarea{
      height: 100px;
      width: 382px;
      padding: 15px;
      resize: none;
    }
    .box-submit{
      padding-right: 8px;
      padding-top: 20px;
      .btn-submit{
        text-align: center;
        background: red;
        width: 100px;
        display: block;
        float: right;
        height: 35px;
        line-height: 35px;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
//content center
.content-center{
  @include calc('width', '100% - 200px');
  float: left;
}
//aside right
.aside-right{
  width: 200px;
  float: left;
  padding:10px 0 10px 20px;
  font-size: 14px;
  font-family: $font-icielgothammedium;
  .ban-tin{
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 16px;
  }
  .name-aside{
    height: 50px;
  }
  .upload-file{
    margin-bottom: 30px;
  }
  .head-ttlq{
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
  }
  .text-ttlq{
    border: 2px solid #c9c9c9;
    height: 150px;
    textarea{
      border: none;
      padding: 10px;
      resize: none;
      width: 100%;
    }
    .thong-bao-moi{
      border-top:2px solid #c9c9c9;
      text-align: center;
    }
    .dang-thong-bao{
      line-height: 40px;
    }
  }
  .color-gray{
    color: gray;
  }
  .box-file{
    margin-bottom: 20px;
    .image-upload{
      width: 50px;
      float: left;
    }
    .info-file{
      @include calc('width', '100% - 50px');
      float: left;
      padding-left: 10px;
    }
  }
}
@include  respond-to($break-991){
  .pupup-search-advance{
    padding: 10px;
    .text-search{
      width:100%;
    }
    .time-text-search{
      width: 30%;
    }
    .content-search{
      float: left;
      width: 100%;
      .input-key{
        width: 100%;

      }
    }
    .list-choose{
      width: 70%;
    }
    .content-search-mb{
      width: 70%;
    }
    .w100{
      width:100%;
      padding: 0;
    }
    .w30{
      width: 100%;
      padding-bottom: 10px;
      &:last-child{
        width:100%;
      }
    }
    .btn-search{
      float: none;
      margin: auto;
      margin-bottom: 10px;
    }
    .time-search{
      padding: 15px 0 0 0;
    }
    .w210{
      width: 100%;
      float: right;
      margin-top: 10px;
      .w70{
        width:30%;
        padding-left: 0;
      }
      input{
        width: 70%;
      }
    }
    .box-btn-search{
      padding-top: 25px;

    }
  }
}
@include  respond-to($break-767){
  .box-search-login {
    .box-search {
      width: 100%;
      .advanced-search-text{
        top: 40px;
        right: 0;
        z-index:1;
      }
    }
    .box-login {
      width:100%;
      .name-user{
        color: #eb212e;

      }
    }
  }
  .box-search-login {
    .box-login {
      .pupup-login {
        width: 280px;
        height: 300px;
        .row-pup {
          height:auto;
          text-align: center;
          .btn-dn{
            width: 70%;
            float: none;
            margin: auto;
          }
          .text-login{
            width: 100px;
            float: none;
          }
          .link-qmk{
            margin: 0;
          }
          .input-login{
            width: 100%;
            float: none;
          }
        }
      }
    }
  }
  .right-content {
    .title-name {
      .add-new{
        position: static;
        line-height: 40px;
        margin-top: 30px;
        width:100%;
      }
    }
  }

  .content-center{
    width: 100%;
    .text-name-tm{
      width: 100%;
      position: relative;
      padding-left: 0;
      float: left;
      line-height: 30px;
      height: 30px;
    }
    .input-name-tm{
      position: relative;
      width: 100%;
      float: left;
    }
  }
  .aside-right{
    width: 100%;
    padding: 0;
    .name-aside{
      height: 50px;
      padding-top: 20px;
    }
    .head-ttlq{
      line-height: 0;
    }
    .text-ttlq{
      width: 90%;
      margin: auto;
    }
  }
  .create-new-tm {
    .box-btn-conent {
      .xem-truoc {
        .btn-red{
          margin-right: 0;
        }
      }
    }
  }
  .btn-red{
    width: 125px;
  }
  .upload-file{
    width: 90%;
    margin: auto;
  }

}
//Form
//Form