.img-responsive {
  max-width: 100%;
  height: auto; }

.image-desktop {
  display: inline-block; }
  @media only screen and (max-width: 1024px) {
    .image-desktop {
      display: none; } }

.image-desktop-tablet {
  display: inline-block; }
  @media only screen and (max-width: 640px) {
    .image-desktop-tablet {
      display: none; } }

.image-tablet {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .image-tablet {
      display: inline-block; } }
  @media only screen and (max-width: 640px) {
    .image-tablet {
      display: none; } }

.image-mobile {
  display: none; }
  @media only screen and (max-width: 640px) {
    .image-mobile {
      display: inline-block; } }

.link-direct {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  background: url(" ../images/icon/select_box.png") right center no-repeat;
  padding: 0 40px 0 20px;
  font-size: 14px;
  font-family: "gothamvnubold_new";
  color: #ed1b2f;
  display: none; }
  @media only screen and (max-width: 1024px) {
    .link-direct {
      display: block; } }

.large_hidden {
  display: none; }

@media only screen and (max-width: 767px) {
  .large_hidden {
    display: block; } }
#footer {
  position: relative; }
  #footer .stop-side-menu {
    position: absolute;
    top: -50px;
    left: 0; }

.box-all-tbmt {
  font-family: "robotoregular"; }
  .box-all-tbmt .xem-truoc-admin .row-content:nth-child(odd) {
    background: #f5f5f5; }
  .box-all-tbmt .all-tbmt {
    width: 100%; }
    .box-all-tbmt .all-tbmt .col-3 {
      padding: 0 10px; }
    .box-all-tbmt .all-tbmt .head-table {
      height: 70px;
      background: #ebebeb; }
      @media only screen and (max-width: 767px) {
        .box-all-tbmt .all-tbmt .head-table {
          display: none; } }
      .box-all-tbmt .all-tbmt .head-table th {
        text-align: left;
        font-size: 14px; }
      .box-all-tbmt .all-tbmt .head-table th:first-child {
        text-align: center; }
      .box-all-tbmt .all-tbmt .head-table .stt {
        width: 60px; }
      .box-all-tbmt .all-tbmt .head-table .so-tbmt {
        width: 110px; }
      .box-all-tbmt .all-tbmt .head-table .thoi-diem-tai {
        width: 170px; }
        @media only screen and (max-width: 1199px) {
          .box-all-tbmt .all-tbmt .head-table .thoi-diem-tai {
            width: 140px; } }
      .box-all-tbmt .all-tbmt .head-table .thoi-gian-mo {
        width: 170px; }
      .box-all-tbmt .all-tbmt .head-table .table-edit {
        padding-right: 10px;
        width: 30px;
        color: #000; }
    .box-all-tbmt .all-tbmt .row-content {
      height: 70px; }
      .box-all-tbmt .all-tbmt .row-content .date-time {
        width: 50%;
        display: inline-block;
        padding-right: 20px;
        padding-left: 10px; }
      .box-all-tbmt .all-tbmt .row-content .date {
        text-align: left; }
      .box-all-tbmt .all-tbmt .row-content .time {
        text-align: right; }
      .box-all-tbmt .all-tbmt .row-content td:first-child {
        text-align: center; }
      .box-all-tbmt .all-tbmt .row-content .btn-edit {
        color: #000000;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -ms-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear; }
        .box-all-tbmt .all-tbmt .row-content .btn-edit:hover {
          opacity: 0.8;
          color: #ea2036; }
      .box-all-tbmt .all-tbmt .row-content .btn-mb-admin {
        display: none; }
      .box-all-tbmt .all-tbmt .row-content .btn-admin {
        font-size: 20px; }
        .box-all-tbmt .all-tbmt .row-content .btn-admin a {
          color: #000; }
          .box-all-tbmt .all-tbmt .row-content .btn-admin a:hover {
            color: #ed1b2f; }
      @media only screen and (max-width: 767px) {
        .box-all-tbmt .all-tbmt .row-content .btn-mb-admin {
          display: table-cell;
          width: 20px;
          font-size: 20px;
          padding: 0px 10px; }
          .box-all-tbmt .all-tbmt .row-content .btn-mb-admin a {
            color: #000; }
            .box-all-tbmt .all-tbmt .row-content .btn-mb-admin a:hover {
              color: #ed1b2f; }
        .box-all-tbmt .all-tbmt .row-content .btn-admin,
        .box-all-tbmt .all-tbmt .row-content .col-1 {
          display: none; }
        .box-all-tbmt .all-tbmt .row-content td {
          display: table;
          width: 100%;
          font-size: 12px; }
          .box-all-tbmt .all-tbmt .row-content td.col-2 {
            background: #ececec; }
          .box-all-tbmt .all-tbmt .row-content td > div {
            text-align: right;
            padding: 10px;
            display: table-cell; }
            .box-all-tbmt .all-tbmt .row-content td > div:first-child {
              text-align: left;
              white-space: nowrap;
              padding-right: 20px;
              font-family: "robotobold";
              color: #000; } }
    .box-all-tbmt .all-tbmt .row-content:nth-child(even) {
      background: #f5f5f5; }
      @media only screen and (max-width: 767px) {
        .box-all-tbmt .all-tbmt .row-content:nth-child(even) {
          background: transparent; } }
  .box-all-tbmt .pagination-wrp .pagination {
    text-align: right; }

@media only screen and (max-width: 767px) {
  .box-all-tbmt .all-tbmt .head-table .stt {
    width: 40px; }
  .box-all-tbmt .all-tbmt .head-table .so-tbmt {
    width: 110px; }
  .box-all-tbmt .all-tbmt .head-table .thoi-diem-tai {
    width: 160px; }
  .box-all-tbmt .all-tbmt .head-table .thoi-gian-mo {
    width: 170px; } }
.box-search-login select,
.box-search-login input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cbcbcb;
  height: 40px;
  padding: 0 20px;
  background: #fff;
  width: 100%; }
.box-search-login select {
  background: url("../images/icon/select_box.png") right center no-repeat; }
.box-search-login .box-search {
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  float: right;
  position: relative; }
  .box-search-login .box-search .advanced-search {
    cursor: pointer; }
  .box-search-login .box-search .input-search {
    line-height: normal;
    width: 100%;
    height: 50px;
    padding-left: 20px; }
  .box-search-login .box-search .advanced-search-text {
    position: absolute;
    right: 55px;
    top: 0px;
    line-height: 50px;
    height: 50px;
    color: #000;
    opacity: 0.8;
    cursor: pointer;
    z-index: 1; }
  .box-search-login .box-search .advanced-search {
    position: absolute;
    right: 20px;
    top: 0px;
    line-height: 60px;
    height: 50px;
    color: #000;
    opacity: 0.8; }
    .box-search-login .box-search .advanced-search i {
      padding-left: 15px;
      color: #ea2036; }
.box-search-login .box-login {
  position: relative;
  width: 200px;
  float: right;
  text-align: right;
  height: 50px;
  padding-right: 10px; }
  .box-search-login .box-login .user-login {
    font-family: "Iciel Gotham Medium";
    color: #666666; }
    .box-search-login .box-login .user-login .name-user {
      line-height: 40px;
      float: right;
      margin-left: 10px;
      cursor: pointer; }
  .box-search-login .box-login .login {
    line-height: 50px;
    font-family: "Iciel Gotham Medium";
    color: #000;
    opacity: 0.6; }
    .box-search-login .box-login .login:hover {
      cursor: pointer; }
  .box-search-login .box-login .pupup-login, .box-search-login .box-login .pupup-quen-mat-khau {
    width: 430px;
    height: auto;
    display: none;
    background: #FFFFFF;
    position: absolute;
    top: 80%;
    right: 0%;
    border: 1px solid #c9c9c9;
    padding: 30px;
    font-size: 13px;
    font-family: "Iciel Gotham Medium";
    z-index: 2; }
    .box-search-login .box-login .pupup-login:before, .box-search-login .box-login .pupup-quen-mat-khau:before {
      content: " ";
      display: block;
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 10px;
      height: 10px;
      position: absolute;
      right: 50px;
      background: #fff;
      top: -6px;
      border-top: 1px solid #c9c9c9;
      border-right: 1px solid #c9c9c9; }
    .box-search-login .box-login .pupup-login .btn-login, .box-search-login .box-login .pupup-quen-mat-khau .btn-login {
      margin-top: 15px; }
    .box-search-login .box-login .pupup-login .username, .box-search-login .box-login .pupup-quen-mat-khau .username {
      margin-top: 15px; }
    .box-search-login .box-login .pupup-login .btn-lose:hover, .box-search-login .box-login .pupup-quen-mat-khau .btn-lose:hover {
      cursor: pointer; }
    .box-search-login .box-login .pupup-login .btn-lose img, .box-search-login .box-login .pupup-quen-mat-khau .btn-lose img {
      position: absolute;
      top: 10px;
      right: 10px; }
    .box-search-login .box-login .pupup-login .row-pup, .box-search-login .box-login .pupup-quen-mat-khau .row-pup {
      width: 100%;
      height: 40px; }
      .box-search-login .box-login .pupup-login .row-pup .text-login, .box-search-login .box-login .pupup-quen-mat-khau .row-pup .text-login {
        width: 30%;
        float: left;
        text-align: left;
        padding: 10px 0; }
      .box-search-login .box-login .pupup-login .row-pup .input-login, .box-search-login .box-login .pupup-quen-mat-khau .row-pup .input-login {
        width: 70%;
        display: block;
        float: left;
        height: 35px; }
      .box-search-login .box-login .pupup-login .row-pup .btn-dn, .box-search-login .box-login .pupup-quen-mat-khau .row-pup .btn-dn {
        float: right; }
      .box-search-login .box-login .pupup-login .row-pup .link-qmk, .box-search-login .box-login .pupup-quen-mat-khau .row-pup .link-qmk {
        line-height: 40px;
        color: #000000;
        display: inline-block;
        float: right;
        margin-right: 20px; }
      .box-search-login .box-login .pupup-login .row-pup a, .box-search-login .box-login .pupup-quen-mat-khau .row-pup a {
        color: #FFFFFF; }
  .box-search-login .box-login .pupup-quen-mat-khau {
    display: none;
    background: #FFFFFF; }

.pupup-search-advance {
  display: none;
  border: 1px solid #c9c9c9;
  background: #FFFFFF;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 25px;
  font-size: 13px;
  font-family: "Iciel Gotham Medium";
  z-index: 4; }
  .pupup-search-advance .content-search .input-key {
    height: 40px;
    width: 100%;
    padding-left: 10px; }
  .pupup-search-advance .lh40 {
    line-height: 40px; }
  .pupup-search-advance .w100 {
    width: 100%;
    padding: 7px 0; }
  .pupup-search-advance .w210 {
    width: -moz-calc(50% - 75px);
    width: -webkit-calc(50% - 75px);
    width: calc(50% - 75px);
    float: right;
    position: relative; }
    .pupup-search-advance .w210 .w70 {
      width: 70px;
      float: left;
      padding-left: 7px;
      line-height: 40px; }
    .pupup-search-advance .w210 input {
      height: 40px;
      width: 169px;
      padding-left: 10px;
      float: left; }
    .pupup-search-advance .w210 i {
      position: absolute;
      top: 6px;
      right: 25px; }
  .pupup-search-advance .text-search {
    width: 150px;
    float: left; }
  .pupup-search-advance .content-search {
    width: -moz-calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    width: calc(100% - 150px);
    float: left; }
  .pupup-search-advance .time-search {
    padding: 15px 0px; }
  .pupup-search-advance .w30 {
    width: 30%;
    float: left; }
    .pupup-search-advance .w30:last-child {
      width: 40%; }
  .pupup-search-advance .list-choose input[type="radio"] {
    display: none; }
  .pupup-search-advance .list-choose input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .pupup-search-advance .list-choose input[type="radio"] + label:before {
    border: 1px solid;
    color: #ececec; }
  .pupup-search-advance .list-choose input[type="radio"]:checked + label:before {
    background-color: #ea2036; }
  .pupup-search-advance .list-choose input[type="radio"] + label:before,
  .pupup-search-advance .list-choose input[type="radio"]:checked + label:before {
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear; }
  .pupup-search-advance .box-btn-search {
    padding-top: 25px; }
  .pupup-search-advance .btn-search {
    width: 150px;
    text-align: center;
    height: 40px;
    background: #eb212e;
    color: #fff;
    float: right;
    font-size: 14px;
    display: block;
    line-height: 40px;
    cursor: pointer;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear; }
    .pupup-search-advance .btn-search:hover {
      opacity: 0.8; }

.right-content {
  font-family: "robotoregular"; }
  .right-content .title-name {
    clear: both;
    font-size: 30px;
    color: #eb212e;
    font-family: "gothamvnubold_new";
    position: relative;
    z-index: 0;
    padding: 34px 0;
    line-height: 1.41; }
    @media only screen and (max-width: 767px) {
      .right-content .title-name {
        font-size: 24px; } }
    .right-content .title-name .add-new {
      width: 150px;
      text-align: center;
      height: 40px;
      background: #eb212e;
      color: #fff;
      font-size: 14px;
      display: block;
      position: absolute;
      line-height: 40px;
      top: 35px;
      right: 0px;
      cursor: pointer;
      -webkit-transition: 0.3s linear;
      -moz-transition: 0.3s linear;
      -ms-transition: 0.3s linear;
      -o-transition: 0.3s linear;
      transition: 0.3s linear; }
      .right-content .title-name .add-new:hover {
        opacity: 0.8; }
      .right-content .title-name .add-new a {
        color: #FFFFFF; }
    .right-content .title-name .cac-phien-ban {
      width: 300px;
      position: absolute;
      line-height: 40px;
      top: 30px;
      right: 0; }
      .right-content .title-name .cac-phien-ban .color-gray {
        color: gray;
        font-size: 14px; }
      .right-content .title-name .cac-phien-ban.pagination-wrp {
        margin: 0;
        text-align: right; }
      .right-content .title-name .cac-phien-ban .ul-phien-ban {
        display: inline-block; }

.create-new-tm {
  width: 100%;
  font-family: "Iciel Gotham Medium";
  font-size: 13px; }
  .create-new-tm .row-xttm .input-name-tm {
    padding-top: 15px; }
  .create-new-tm .row-xttm:nth-child(odd) {
    background: #f5f5f5; }
  .create-new-tm .h50 {
    height: 50px; }
  .create-new-tm .lh50 {
    line-height: 50px; }
  .create-new-tm .text-name-tm {
    width: 250px;
    line-height: 50px;
    position: relative;
    padding-left: 10px;
    float: left; }
  .create-new-tm .input-name-tm {
    position: relative;
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    float: left;
    font-family: "robotoregular"; }
    .create-new-tm .input-name-tm .lock-unlock {
      position: absolute;
      right: 45px;
      top: 15px;
      color: #007fff; }
      @media only screen and (max-width: 767px) {
        .create-new-tm .input-name-tm .lock-unlock {
          right: 10px;
          top: 17px; } }
    .create-new-tm .input-name-tm input {
      width: 100%;
      height: 40px;
      padding-left: 10px; }
    .create-new-tm .input-name-tm .date-pic {
      position: absolute;
      left: 90%;
      top: 7px;
      cursor: pointer; }
    .create-new-tm .input-name-tm select {
      width: 100%;
      height: 40px;
      padding-left: 10px; }
  .create-new-tm .upload-file-tm {
    width: 200px;
    padding: 0 10px;
    background: #FFFFFF; }
    .create-new-tm .upload-file-tm .pd-l-10 {
      padding-left: 10px; }
    .create-new-tm .upload-file-tm .lh50 {
      float: left; }
    .create-new-tm .upload-file-tm.vtc-al-t {
      vertical-align: top; }
    .create-new-tm .upload-file-tm td {
      vertical-align: top;
      height: 80px; }
    .create-new-tm .upload-file-tm .color-gray {
      color: #989898; }
  .create-new-tm .box-btn-conent {
    clear: both;
    padding-top: 30px; }
    .create-new-tm .box-btn-conent .quay-lai, .create-new-tm .box-btn-conent .xem-truoc {
      width: 50%;
      display: block;
      float: left; }
    .create-new-tm .box-btn-conent .xem-truoc .btn-red {
      float: right;
      margin-right: 200px; }

.btn-red {
  min-width: 100px;
  text-align: center;
  height: 40px;
  background: #eb212e;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  line-height: 40px;
  cursor: pointer;
  padding: 0 20px;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear; }
  .btn-red:hover {
    opacity: 0.8; }

.upload-file {
  border: 2px dashed #eb212e;
  border-radius: 10px;
  height: 180px;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  font-family: "Iciel Gotham Medium";
  position: relative;
  overflow: hidden; }
  .upload-file img {
    position: relative;
    z-index: 0; }
    .upload-file img p {
      position: relative;
      z-index: 0; }
  .upload-file .has-fl {
    display: none; }
  .upload-file.has-file .has-fl {
    display: block;
    margin: 0 auto; }
  .upload-file.has-file .no-fl {
    display: none; }
  .upload-file input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0; }
  .upload-file .name {
    font-size: 12px;
    margin-top: 8px !important; }
  .upload-file .size {
    font-size: 11px;
    color: #989898;
    margin-top: 5px !important; }
  .upload-file .name,
  .upload-file .size {
    position: relative;
    z-index: 0; }
  .upload-file .uploadfile {
    position: relative;
    z-index: 3;
    font-family: "robotobold";
    margin-top: 10px;
    color: #ed1b2f; }

.color-red {
  color: #ea2036; }

.style-form-input select,
.style-form-input input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #000;
  height: 40px;
  padding: 0 20px;
  background: #fff;
  width: 100%;
  max-width: 500px; }
.style-form-input select {
  background: url("../images/icon/select_box.png") right center no-repeat; }

#ui-datepicker-div {
  background: #FFFFFF; }
  #ui-datepicker-div .ui-datepicker-calendar thead {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #c6c6c6; }
  #ui-datepicker-div .ui-datepicker-header {
    background: #FFFFFF;
    border: none;
    color: #000000; }
  #ui-datepicker-div .ui-state-default {
    text-align: center;
    border: none;
    background: transparent; }
  #ui-datepicker-div .ui-state-hover {
    color: #FFFFFF;
    background: #ea2036; }
  #ui-datepicker-div .ui-state-active {
    color: #FFFFFF;
    background: #ea2036;
    opacity: 0.3; }
  #ui-datepicker-div .ui-icon-circle-triangle-w {
    background-position: -98px 0px; }
  #ui-datepicker-div .ui-icon-circle-triangle-e {
    background-position: -33px 0px; }

.backgroud-popup {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none; }
  .backgroud-popup .request-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    width: 600px;
    height: 330px;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid;
    padding: 20px;
    font-family: "Iciel Gotham Medium";
    font-size: 14px; }
    .backgroud-popup .request-popup .close-popup-request {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer; }
    .backgroud-popup .request-popup h2 {
      color: red;
      font-size: 18px;
      text-align: center;
      line-height: 50px; }
    .backgroud-popup .request-popup .text-popup {
      width: 30%;
      float: left; }
    .backgroud-popup .request-popup .content-popup {
      width: 70%;
      float: left; }
    .backgroud-popup .request-popup .lh30 {
      line-height: 30px; }
    .backgroud-popup .request-popup textarea {
      height: 100px;
      width: 382px;
      padding: 15px;
      resize: none; }
    .backgroud-popup .request-popup .box-submit {
      padding-right: 8px;
      padding-top: 20px; }
      .backgroud-popup .request-popup .box-submit .btn-submit {
        text-align: center;
        background: red;
        width: 100px;
        display: block;
        float: right;
        height: 35px;
        line-height: 35px;
        color: #fff;
        cursor: pointer; }

.content-center {
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  float: left; }

.aside-right {
  width: 200px;
  float: left;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  font-family: "Iciel Gotham Medium"; }
  .aside-right .ban-tin {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 16px; }
  .aside-right .name-aside {
    height: 50px; }
  .aside-right .head-ttlq {
    height: 50px;
    line-height: 50px; }
  .aside-right .text-ttlq {
    border: 2px solid #c9c9c9;
    height: auto; }
    .aside-right .text-ttlq textarea {
      border: none;
      padding: 10px;
      resize: none;
      width: 100%; }
    .aside-right .text-ttlq .thong-bao-moi {
      border-top: 2px solid #c9c9c9;
      text-align: center; }
    .aside-right .text-ttlq .dang-thong-bao {
      line-height: 40px; }
  .aside-right .color-gray {
    color: gray; }
  .aside-right .box-file {
    margin-bottom: 20px; }
    .aside-right .box-file .image-upload {
      width: 50px;
      float: left; }
    .aside-right .box-file .info-file {
      width: -moz-calc(100% - 50px);
      width: -webkit-calc(100% - 50px);
      width: calc(100% - 50px);
      float: left;
      padding-left: 10px; }

.mo-khoa-goi-thau {
  width: 80%;
  margin: auto;
  font-family: "robotoregular";
  font-size: 14px; }
  .mo-khoa-goi-thau h3 {
    height: 25px;
    font-family: "Iciel Gotham Medium"; }
  .mo-khoa-goi-thau .row-btn {
    width: 50%;
    float: left;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px; }
  .mo-khoa-goi-thau .xem-truoc .btn-red {
    float: right; }

@media only screen and (max-width: 991px) {
  .pupup-search-advance {
    padding: 10px; }
    .pupup-search-advance .text-search {
      width: 100%; }
    .pupup-search-advance .time-text-search {
      width: 30%; }
    .pupup-search-advance .content-search {
      float: left;
      width: 100%; }
      .pupup-search-advance .content-search .input-key {
        width: 100%; }
    .pupup-search-advance .list-choose {
      width: 70%; }
    .pupup-search-advance .content-search-mb {
      width: 70%; }
    .pupup-search-advance .w100 {
      width: 100%;
      padding: 0; }
    .pupup-search-advance .w30 {
      width: 100%;
      padding-bottom: 10px; }
      .pupup-search-advance .w30:last-child {
        width: 100%; }
    .pupup-search-advance .btn-search {
      float: none;
      margin: auto;
      margin-bottom: 10px; }
    .pupup-search-advance .time-search {
      padding: 15px 0 0 0; }
    .pupup-search-advance .w210 {
      width: 100%;
      float: right;
      margin-top: 10px; }
      .pupup-search-advance .w210 .w70 {
        width: 30%;
        padding-left: 0; }
      .pupup-search-advance .w210 input {
        width: 70%; }
    .pupup-search-advance .box-btn-search {
      padding-top: 25px; } }
@media only screen and (max-width: 767px) {
  .box-search-login .box-search {
    width: 100%; }
    .box-search-login .box-search .advanced-search-text {
      top: 40px;
      right: 0;
      z-index: 1; }
  .box-search-login .box-login {
    width: 100%; }
    .box-search-login .box-login .name-user {
      color: #eb212e; }

  .box-search-login .box-login .pupup-login, .box-search-login .box-login .pupup-quen-mat-khau {
    width: 100%;
    height: auto; }
    .box-search-login .box-login .pupup-login .row-pup, .box-search-login .box-login .pupup-quen-mat-khau .row-pup {
      height: auto;
      text-align: center; }
      .box-search-login .box-login .pupup-login .row-pup .text-login, .box-search-login .box-login .pupup-quen-mat-khau .row-pup .text-login {
        width: 100px;
        float: none; }
      .box-search-login .box-login .pupup-login .row-pup .link-qmk, .box-search-login .box-login .pupup-quen-mat-khau .row-pup .link-qmk {
        margin-right: 20px; }
      .box-search-login .box-login .pupup-login .row-pup .input-login, .box-search-login .box-login .pupup-quen-mat-khau .row-pup .input-login {
        width: 100%;
        float: none; }

  .right-content .title-name .add-new {
    position: static;
    line-height: 40px;
    margin-top: 30px;
    width: 100%; }

  .content-center {
    width: 100%; }
    .content-center .text-name-tm {
      width: 100%;
      position: relative;
      padding-left: 0;
      float: left;
      line-height: 30px;
      height: 30px; }
    .content-center .input-name-tm {
      position: relative;
      width: 100%;
      float: left;
      text-align: right; }

  .aside-right {
    width: 100%;
    padding: 0; }
    .aside-right .name-aside {
      height: 50px;
      padding-top: 20px; }
    .aside-right .head-ttlq {
      line-height: 0; }
    .aside-right .text-ttlq {
      width: 90%;
      margin: auto; }

  .create-new-tm .box-btn-conent .xem-truoc .btn-red {
    margin-right: 0; }
  .create-new-tm .h50 {
    height: auto; }

  .btn-red {
    width: 125px; }

  .upload-file {
    width: 90%;
    margin: auto; }

  .create-new-tm .input-name-tm input {
    text-align: right; }
  .create-new-tm .input-name-tm .date-pic {
    left: 15px; }

  .right-content .title-name .cac-phien-ban {
    width: 100%;
    text-align: right;
    position: static;
    line-height: 30px; }
    .right-content .title-name .cac-phien-ban .ul-phien-ban {
      display: block;
      text-align: right; }
  .right-content .row-xttm {
    margin-bottom: 10px;
    font-size: 12px; }

  .create-new-tm .row-xttm {
    padding-left: 20px;
    padding-right: 20px; }
    .create-new-tm .row-xttm .input-name-tm {
      padding-top: 0;
      padding-bottom: 5px; }

  .aside-right .ban-tin, .aside-right .box-file {
    padding-left: 20px; }

  .backgroud-popup .request-popup {
    width: 90%;
    height: auto; }

  .backgroud-popup .request-popup .text-popup, .backgroud-popup .request-popup .content-popup {
    width: 50%; }
  .backgroud-popup .request-popup textarea {
    width: 96%; }

  .mo-khoa-goi-thau .btn-red {
    width: 100px; }

  .mo-khoa-goi-thau {
    width: 100%; } }
select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cbcbcb;
  height: 40px;
  padding: 0 20px;
  background: #fff;
  width: 100%; }

select {
  background: url("../images/icon/select_box.png") right center no-repeat; }

/*# sourceMappingURL=dauthau.css.map */
